
/* #timer {
padding: 10px;   
color: blue;
font-size: 20px;
text-align: center;
} */
#timerId {
    padding: 10px;
    color: red;
    text-align: right;
    font-size: 40px;
}

div ul button {
    display: inline-block;
    margin: 20px;
    height: 50px;
    width: auto;
    outline: magenta solid 1px;
}
#submit {
    display: inline-block;
    width: 200px;
    height: 50px; 
    padding: 20px, 20px;
    text-align: center;
}

li {
    list-style-type: none;
}

.hidden {
    display: none
}

h3 {
    font-size: 20px;
    color: mediumblue;
}
